<!DOCTYPE html>
{% extends "theme.html"%}
{% block content %}
<!-- Content-->
<div class="wil-content">

	<!-- Section -->
	<section class="awe-section">
		<div class="container">

			<!-- page-title -->
			<div class="page-title pb-40">
				<h2 class="page-title__title">我的所有博客</h2>
				<p class="page-title__text">记录个人学习，错误，心情</p>
				<div class="page-title__divider"></div>
			</div><!-- End / page-title -->

		</div>
	</section>
	<!-- End / Section -->


	<!-- Section -->
	<section class="awe-section bg-gray">
		<div class="container">
			<div class="grid-css grid-css--masonry" data-col-lg="3" data-col-md="2" data-col-sm="2" data-col-xs="1" data-gap="30">
				<div class="grid__inner">
					<div class="grid-sizer"></div>
					{% for blog in blogs.all reversed %}
					<div class="grid-item">
						<div class="grid-item__inner">
							<div class="grid-item__content-wrapper">

								<!-- post -->
								<div class="post">
									<div class="post__media"><a href="../{{blog.id}}/"><img src="{{blog.image.url}}" alt=""/></a></div>
									<div class="post__body">
										<div class="post__meta"><span class="date">{{blog.date}}</span><span class="author">by {{blog.author}}</span></div>
										<h2 class="post__title"><a href="../{{blog.id}}/">{{blog.title}}</a></h2>
										<p class="post__text">{{blog.abstract}}</p>
										<a class="md-btn md-btn--outline-primary" href="../{{blog.id}}/">read more
										</a>
									</div>
								</div><!-- End / post -->

							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="awe-text-center mt-50">
				<a class="md-btn md-btn--outline-primary " href="..">BACK MAIN BLOG</a>
			</div>
		</div>
	</section>
	<!-- End / Section -->

</div>
<!-- End / Content-->
{% endblock content %}
