<!DOCTYPE html>
{% extends "theme.html"%}
{% block content %}
<!-- Content-->
<div class="wil-content">

				<!-- Section -->
				<section class="awe-section">
					<div class="container">

						<!-- page-title -->
						<div class="page-title pb-40">
							<h2 class="page-title__title">Let see what I collected</h2>
							<p class="page-title__text">these are my collections </p>
							<div class="page-title__divider"></div>
						</div><!-- End / page-title -->

					</div>
				</section>
				<!-- End / Section -->


				<!-- Section -->
				<section class="awe-section bg-gray">
					<div class="container">
						<div class="grid-css grid-css--masonry" data-col-lg="3" data-col-md="2" data-col-sm="2" data-col-xs="1" data-gap="30">
							<div class="grid__inner">
								<div class="grid-sizer"></div>
								{% for picture in pictures.all reversed %}
								<div class="grid-item">
									<div class="grid-item__inner">
										<div class="grid-item__content-wrapper">

											<!-- work -->
											<div class="work"><a href="{{picture.id}}">

													<!-- hoverbox ef-slide-bottom -->
													<div class="hoverbox ef-slide-bottom light">

														<!-- hb_front -->
														<div class="hb_front"><img src="{{ picture.image.url }}" alt=""/>
														</div><!-- End / hb_front -->


														<!-- hb_back -->
														<div class="hb_back">
															<h2 class="work__title">{{ picture.title}}</h2><span class="work__text">View detail</span>
														</div><!-- End / hb_back -->

													</div><!-- End / hoverbox ef-slide-bottom -->
													</a>
											</div><!-- End / work -->

										</div>
									</div>
								</div>
								{% endfor %}

							</div>
						</div>

					</div>
				</section>
				<!-- End / Section -->

			</div>
<!-- End / Content-->
{% endblock content %}

