<!DOCTYPE html>
<html>
	{% load  staticfiles%}
	<head>
		{% load  staticfiles%}
		<title>Golor</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<!-- Fonts-->
		<link rel="stylesheet" type="text/css" href="{% static '/fonts/fontawesome/font-awesome.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static '/fonts/pe-icon/pe-icon.css' %}">
		<!-- Vendors-->
		<link rel="stylesheet" type="text/css" href="{% static '/vendors/bootstrap/grid.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static '/vendors/magnific-popup/magnific-popup.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static '/vendors/swiper/swiper.css' %}">
		<!-- App & fonts-->
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Open+Sans:400,700">
		<link rel="stylesheet" type="text/css" id="app-stylesheet" href="{% static '/css/main.css' %}"
		><!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<![endif]-->
		<!--bootstrap css-->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


	<body>

	</head>

		<div class="page-wrap" id="root">



			<!-- header -->
			<header class="header header--fixed">
				<div class="header__inner">
					<div class="header__logo">
						<a href="{% url 'index'%}"><img src="{% static 'img/logo.png' %}" alt="LOGO" style="width: 122px;"></a>
					</div>
					<div class="navbar-toggle" id="fs-button">
						<div class="navbar-icon"><span></span></div>
					</div>
				</div>

				<!-- fullscreenmenu__module -->
				<div class="fullscreenmenu__module" trigger="#fs-button">

					<!-- overlay-menu -->
					<nav class="overlay-menu">

						<!--  -->
						<ul class="wil-menu-list">
							<li class="current-menu-item"><a href="{% url 'index' %}">主页</a>
							</li>
							<li><a href="{% url 'about' %}">关于</a>
							</li>
							<li><a href="{% url 'blog' %}">博客</a>
							</li>
							<li ><a href="{% url 'pictures' %}">图集</a>
							</li>
							<li><a href="{% url 'contact' %}">联系</a>
							</li>

							{% if user.is_authenticated %}
							<li><a href="Javascript:{document.getElementById('退出').submit()}">退出</a>
							</li>
							<form id="退出" method="POST" action="{% url 'logout' %}">
								{% csrf_token %}
								<input type="hidden">
							</form>
							{% else %}
								<li><a href="{% url 'signin' %}">登陆</a>
								</li>
								<li><a href="{% url 'signup' %}">注册</a>
								</li>
							{% endif %}

						</ul><!--  -->

					</nav><!-- End / overlay-menu -->

				</div><!-- End / fullscreenmenu__module -->
			</header><!-- End / header -->


			{% block content %}

			{% endblock content %}
			<!-- footer -->
			<div class="footer">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-lg-6 ">
						</div>
						<div class="col-md-6 col-lg-6 ">
							<div class="footer__social">
								<!-- social-icon -->
								<a class="social-icon" href="tencent://message/?uin=1045132383&Site=&Menu=yes"><i class="social-icon__icon fa fa-qq"></i>
								</a><!-- End / social-icon -->
							</div>
						</div>
					</div>
				</div>
			</div><!-- End / footer -->
		</div>

		<!-- Vendors-->
		<script type="text/javascript" src="{% static '/vendors/jquery/jquery.min.js' %}"></script>
		<script type="text/javascript" src="{% static '/vendors/imagesloaded/imagesloaded.pkgd.js' %}"></script>
		<script type="text/javascript" src="{% static '/vendors/isotope-layout/isotope.pkgd.js' %}"></script>
		<script type="text/javascript" src="{% static '/vendors/jquery-one-page/jquery.nav.min.js' %}"></script>
		<script type="text/javascript" src="{% static '/vendors/jquery.easing/jquery.easing.min.js' %}"></script>
		<script type="text/javascript" src="{% static '/vendors/jquery.matchHeight/jquery.matchHeight.min.js' %}"></script>
		<script type="text/javascript" src="{% static '/vendors/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
		<script type="text/javascript" src="{% static '/vendors/masonry-layout/masonry.pkgd.js' %}"></script>
		<script type="text/javascript" src="{% static '/vendors/jquery.waypoints/jquery.waypoints.min.js' %}"></script>
		<script type="text/javascript" src="{% static '/vendors/swiper/swiper.jquery.js' %}"></script>
		<script type="text/javascript" src="{% static '/vendors/menu/menu.js' %}"></script>
		<script type="text/javascript" src="{% static '/vendors/typed/typed.min.js' %}"></script>
		<!-- App-->
		<script type="text/javascript" src="{% static '/js/main.js' %}"></script>
		<!--canvas-nest cdn-->
		<script type="text/javascript" color="0,0,0" opacity='1' zIndex="5" count="150" src="https://cdn.bootcss.com/canvas-nest.js/2.0.4/canvas-nest.js"></script>
		<script src="https://cdn.bootcss.com/canvas-nest.js/2.0.4/canvas-nest.umd.js"></script>
		<!--bootstrap js-->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>