<!DOCTYPE html>
<html>
	{% load  staticfiles%}
	<head>
		{% load  staticfiles%}
		<title>Index</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<!-- Fonts-->
		<link rel="stylesheet" type="text/css" href="{% static '/fonts/fontawesome/font-awesome.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static '/fonts/pe-icon/pe-icon.css' %}">
		<!-- Vendors-->
		<link rel="stylesheet" type="text/css" href="{% static '/vendors/bootstrap/grid.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static '/vendors/magnific-popup/magnific-popup.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static '/vendors/swiper/swiper.css' %}">
		<!-- App & fonts-->
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Open+Sans:400,700">
		<link rel="stylesheet" type="text/css" id="app-stylesheet" href="{% static '/css/main.css' %}"
		><!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<![endif]-->



	<body>

	</head>

		<div class="page-wrap" id="root">



			<!-- header -->
			<header class="header header--fixed">
				<div class="header__inner">
					<div class="header__logo">
						<a href="#"><img src="{% static 'img/logo.png' %}" alt="LOGO" style="width: 122px;"></a>
					</div>
					<div class="navbar-toggle" id="fs-button">
						<div class="navbar-icon"><span></span></div>
					</div>
				</div>

				<!-- fullscreenmenu__module -->
				<div class="fullscreenmenu__module" trigger="#fs-button">

					<!-- overlay-menu -->
					<nav class="overlay-menu">

						<!--  -->
						<ul class="wil-menu-list">
							<li class="current-menu-item"><a href="../../index/">主页</a>
							</li>
							<li><a href="../../about/">关于</a>
							</li>
							<li><a href="../../blog/">博客</a>
							</li>
							<li ><a href="../../pictures/">图集</a>
							</li>
							<li><a href="../..contact/">联系</a>
							</li>
						</ul><!--  -->

					</nav><!-- End / overlay-menu -->

				</div><!-- End / fullscreenmenu__module -->

			</header><!-- End / header -->

			{% block content %}

			<!-- Content-->
			<div class="wil-content">

				<!-- Section -->
				<section class="awe-section">
					<div class="container">

						<!-- page-title -->
						<div class="page-title">
							<h2 class="page-title__title">你好,我是Golor.<br>I

								<!-- typing__module -->
								<div class="typing__module">
									<div class="typed-strings"><span>'m a Student</span><span> collect some picture</span><span> write something</span>
									</div><span class="typed"></span>
								</div><!-- End / typing__module -->

							</h2>
							<p class="page-title__text"></p>
							<div class="page-title__divider"></div>
						</div><!-- End / page-title -->

					</div>
				</section>
				<!-- End / Section -->


				<!-- Section -->
				<section class="awe-section bg-gray">

					<div class="container">
						<div class="row">
							<div class="col-lg-6 ">

								<!-- title -->
								<div class="title">
									<h2 class="title__title">MY PICTURES</h2>
								</div><!-- End / title -->

							</div>
						</div>
						<div class="grid-css grid-css--masonry" data-col-lg="3" data-col-md="2" data-col-sm="2" data-col-xs="1" data-gap="30">
							<div class="grid__inner">
								<div class="grid-sizer"></div>

								{% for picture in pictures.all|slice:":9" reversed %}
								<div class="grid-item">
									<div class="grid-item__inner">
										<div class="grid-item__content-wrapper">

											<!-- work -->
											<div class="work"><a href="pictures/{{picture.id}}">

													<!-- hoverbox ef-slide-bottom -->
													<div class="hoverbox ef-slide-bottom light">

														<!-- hb_front -->
														<div class="hb_front"><img src="{{ picture.image.url }}" alt=""/>
														</div><!-- End / hb_front -->


														<!-- hb_back -->
														<div class="hb_back">
															<h2 class="work__title">{{ picture.title}}</h2><span class="work__text">View detail</span>
														</div><!-- End / hb_back -->

													</div><!-- End / hoverbox ef-slide-bottom -->
													</a>
											</div><!-- End / work -->

										</div>
									</div>
								</div>
								{% if forloop.counter == 6 %}

								{% endif %}
								{% endfor %}


							</div>
						</div>
						<div class="awe-text-center mt-50">
							<a class="md-btn md-btn--outline-primary" href="../pictures/">all picture
							</a>
						</div>
					</div>
				</section>
				<!-- End / Section -->

			</div>
			<!-- End / Content-->
			{% endblock content %}
			<!-- footer -->
			<div class="footer">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-lg-6 ">
						</div>
						<div class="col-md-6 col-lg-6 ">
							<div class="footer__social">
								<!-- social-icon -->
								<a class="social-icon" href="tencent://message/?uin=1045132383&Site=&Menu=yes"><i class="social-icon__icon fa fa-qq"></i>
								</a><!-- End / social-icon -->
								<!-- social-icon -->
								<a class="social-icon" href="#"><i class="social-icon__icon fa">top</i>
								</a><!-- End / social-icon -->
							</div>
						</div>
					</div>
				</div>
			</div><!-- End / footer -->
		</div>

		<!-- Vendors-->
		<script type="text/javascript" src="{% static '/vendors/jquery/jquery.min.js' %}"></script>
		<script type="text/javascript" src="{% static '/vendors/imagesloaded/imagesloaded.pkgd.js' %}"></script>
		<script type="text/javascript" src="{% static '/vendors/isotope-layout/isotope.pkgd.js' %}"></script>
		<script type="text/javascript" src="{% static '/vendors/jquery-one-page/jquery.nav.min.js' %}"></script>
		<script type="text/javascript" src="{% static '/vendors/jquery.easing/jquery.easing.min.js' %}"></script>
		<script type="text/javascript" src="{% static '/vendors/jquery.matchHeight/jquery.matchHeight.min.js' %}"></script>
		<script type="text/javascript" src="{% static '/vendors/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
		<script type="text/javascript" src="{% static '/vendors/masonry-layout/masonry.pkgd.js' %}"></script>
		<script type="text/javascript" src="{% static '/vendors/jquery.waypoints/jquery.waypoints.min.js' %}"></script>
		<script type="text/javascript" src="{% static '/vendors/swiper/swiper.jquery.js' %}"></script>
		<script type="text/javascript" src="{% static '/vendors/menu/menu.js' %}"></script>
		<script type="text/javascript" src="{% static '/vendors/typed/typed.min.js' %}"></script>
		<!-- App-->
		<script type="text/javascript" src="{% static '/js/main.js' %}"></script>
		<!--canvas-nest cdn-->
		<script type="text/javascript" color="0,0,0" opacity='1' zIndex="5" count="150" src="https://cdn.bootcss.com/canvas-nest.js/2.0.4/canvas-nest.js"></script>
		<script src="https://cdn.bootcss.com/canvas-nest.js/2.0.4/canvas-nest.umd.js"></script>
	</body>
</html>